In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver import ActionChains
import time
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
driver = webdriver.Chrome()
driver.maximize_window()
driver.execute_script(
    "window.location = 'https://www.macrotrends.net/stocks/charts/GOOG/alphabet/cash-flow-statement?freq=A';")
driver.implicitly_wait(2)

grid = driver.find_element(By.ID, 'wrapperjqxgrid')
time.sleep(1)

soup = BeautifulSoup(grid.get_attribute('outerHTML'), "html.parser")
headersList = soup.findAll('div', {'role': 'columnheader'})
col_names=[h.text for h in headersList]
divList = soup.findAll('div', {'role': 'row'})
data = [[x.text for x in div.findChildren('div', recursive=False)] for div in divList]
df = pd.DataFrame(data, columns=col_names)

In [3]:
df

,Annual Data | Millions of US $ except per share data,,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31
0,Net Income/Loss,,$73 795,$59 972,$76 033,$40 269,$34 343,$30 736,$12 662
1,Total Depreciation And Amortization - Cash Flow,,$11 946,$13 475,$10 273,$13 697,$11 781,$9 035,$6 915
2,Other Non-Cash Items,,$19 850,$20 283,$6 869,$9 331,$7 577,$3 292,$8 268
3,Total Non-Cash Items,,$31 796,$33 758,$17 142,$23 028,$19 358,$12 327,$15 183
4,Change In Accounts Receivable,,$-7 833,$-2 317,$-9 095,$-6 524,$-4 340,$-2 169,$-3 768
5,Change In Inventories,,-,-,-,-,-,-,-
6,Change In Accounts Payable,,$664,$707,$283,$694,$428,$1 067,$731
7,Change In Assets/Liabilities,,$-1 618,$-4 679,$-1 072,$-695,$-584,$-836,$-1 774
8,Total Change In Assets/Liabilities,,$-3 845,$-2 235,$-1 523,$1 827,$819,$4 908,$9 246
9,Cash Flow From Operating Activities,,$101 746,$91 495,$91 652,$65 124,$54 520,$47 971,$37 091
10,"Net Change In Property, Plant, And Equipment",,$-32 251,$-31 485,$-24 640,$-22 281,$-23 548,$-25 139,$-13 184
11,Net Change In Intangible Assets,,-,-,-,-,-,-,-
12,Net Acquisitions/Divestitures,,$-495,$-6 969,$-2 618,$-738,$-2 515,$-1 491,$-287
13,Net Change In Short-term Investments,,$8 814,$18 948,$-6 902,$-3 670,$-2 490,$-1 651,$-18 236
14,Net Change In Long-Term Investments,,$-2 080,$-2 381,$-1 904,$-6 152,$-1 527,$-321,$-1 212
15,Net Change In Investments - Total,,$6 734,$16 567,$-8 806,$-9 822,$-4 017,$-1 972,$-19 448
16,Investing Activities - Other,,$-1 051,$1 589,$541,$68,$589,$98,$1 518
17,Cash Flow From Investing Activities,,$-27 063,$-20 298,$-35 523,$-32 773,$-29 491,$-28 504,$-31 401
18,Net Long-Term Debt,,$-760,$-1 196,$-1 236,$9 661,$-268,$-61,$-86
19,Net Current Debt,,-,-,-,-,-,-,-
20,Debt Issuance/Retirement Net - Total,,$-760,$-1 196,$-1 236,$9 661,$-268,$-61,$-86
21,Net Common Equity Issued/Repurchased,,$-61 496,$-59 261,$-49 964,$-28 349,$-18 176,$-8 125,$-4 046
22,Net Total Equity Issued/Repurchased,,$-61 496,$-59 261,$-49 964,$-28 349,$-18 176,$-8 125,$-4 046
23,Total Common And Preferred Stock Dividends Paid,,-,-,-,-,-,-,-
24,Financial Activities - Other,,$-9 837,$-9 300,$-10 162,$-5 720,$-4 765,$-4 993,$-4 166
25,Cash Flow From Financial Activities,,$-72 093,$-69 757,$-61 362,$-24 408,$-23 209,$-13 179,$-8 298
26,Net Cash Flow,,$2 169,$934,$-5 520,$7 967,$1 797,$5 986,$-2 203
27,Stock-Based Compensation,,$22 460,$19 362,$15 376,$12 991,$10 794,$9 353,$7 679
28,Common Stock Dividends Paid,,-,-,-,-,-,-,-

In [13]:
df_upd = df.replace("-","0")
df_upd

,Annual Data | Millions of US $ except per share data,,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31
0,Net Income/Loss,,$73 795,$59 972,$76 033,$40 269,$34 343,$30 736,$12 662
1,Total Depreciation And Amortization - Cash Flow,,$11 946,$13 475,$10 273,$13 697,$11 781,$9 035,$6 915
2,Other Non-Cash Items,,$19 850,$20 283,$6 869,$9 331,$7 577,$3 292,$8 268
3,Total Non-Cash Items,,$31 796,$33 758,$17 142,$23 028,$19 358,$12 327,$15 183
4,Change In Accounts Receivable,,$-7 833,$-2 317,$-9 095,$-6 524,$-4 340,$-2 169,$-3 768
5,Change In Inventories,,0,0,0,0,0,0,0
6,Change In Accounts Payable,,$664,$707,$283,$694,$428,$1 067,$731
7,Change In Assets/Liabilities,,$-1 618,$-4 679,$-1 072,$-695,$-584,$-836,$-1 774
8,Total Change In Assets/Liabilities,,$-3 845,$-2 235,$-1 523,$1 827,$819,$4 908,$9 246
9,Cash Flow From Operating Activities,,$101 746,$91 495,$91 652,$65 124,$54 520,$47 971,$37 091
10,"Net Change In Property, Plant, And Equipment",,$-32 251,$-31 485,$-24 640,$-22 281,$-23 548,$-25 139,$-13 184
11,Net Change In Intangible Assets,,0,0,0,0,0,0,0
12,Net Acquisitions/Divestitures,,$-495,$-6 969,$-2 618,$-738,$-2 515,$-1 491,$-287
13,Net Change In Short-term Investments,,$8 814,$18 948,$-6 902,$-3 670,$-2 490,$-1 651,$-18 236
14,Net Change In Long-Term Investments,,$-2 080,$-2 381,$-1 904,$-6 152,$-1 527,$-321,$-1 212
15,Net Change In Investments - Total,,$6 734,$16 567,$-8 806,$-9 822,$-4 017,$-1 972,$-19 448
16,Investing Activities - Other,,$-1 051,$1 589,$541,$68,$589,$98,$1 518
17,Cash Flow From Investing Activities,,$-27 063,$-20 298,$-35 523,$-32 773,$-29 491,$-28 504,$-31 401
18,Net Long-Term Debt,,$-760,$-1 196,$-1 236,$9 661,$-268,$-61,$-86
19,Net Current Debt,,0,0,0,0,0,0,0
20,Debt Issuance/Retirement Net - Total,,$-760,$-1 196,$-1 236,$9 661,$-268,$-61,$-86
21,Net Common Equity Issued/Repurchased,,$-61 496,$-59 261,$-49 964,$-28 349,$-18 176,$-8 125,$-4 046
22,Net Total Equity Issued/Repurchased,,$-61 496,$-59 261,$-49 964,$-28 349,$-18 176,$-8 125,$-4 046
23,Total Common And Preferred Stock Dividends Paid,,0,0,0,0,0,0,0
24,Financial Activities - Other,,$-9 837,$-9 300,$-10 162,$-5 720,$-4 765,$-4 993,$-4 166
25,Cash Flow From Financial Activities,,$-72 093,$-69 757,$-61 362,$-24 408,$-23 209,$-13 179,$-8 298
26,Net Cash Flow,,$2 169,$934,$-5 520,$7 967,$1 797,$5 986,$-2 203
27,Stock-Based Compensation,,$22 460,$19 362,$15 376,$12 991,$10 794,$9 353,$7 679
28,Common Stock Dividends Paid,,0,0,0,0,0,0,0

In [14]:
df_upd.dtypes

Annual Data | Millions of US $ except per share data    object
                                                        object
2023-12-31                                              object
2022-12-31                                              object
2021-12-31                                              object
2020-12-31                                              object
2019-12-31                                              object
2018-12-31                                              object
2017-12-31                                              object
dtype: object

In [30]:
df_upd.replace("$","",regex=True).replace(u'\xa0', u' ',regex=True)

,Annual Data | Millions of US $ except per share data,,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31
0,Net Income/Loss,,$73 795,$59 972,$76 033,$40 269,$34 343,$30 736,$12 662
1,Total Depreciation And Amortization - Cash Flow,,$11 946,$13 475,$10 273,$13 697,$11 781,$9 035,$6 915
2,Other Non-Cash Items,,$19 850,$20 283,$6 869,$9 331,$7 577,$3 292,$8 268
3,Total Non-Cash Items,,$31 796,$33 758,$17 142,$23 028,$19 358,$12 327,$15 183
4,Change In Accounts Receivable,,$-7 833,$-2 317,$-9 095,$-6 524,$-4 340,$-2 169,$-3 768
5,Change In Inventories,,0,0,0,0,0,0,0
6,Change In Accounts Payable,,$664,$707,$283,$694,$428,$1 067,$731
7,Change In Assets/Liabilities,,$-1 618,$-4 679,$-1 072,$-695,$-584,$-836,$-1 774
8,Total Change In Assets/Liabilities,,$-3 845,$-2 235,$-1 523,$1 827,$819,$4 908,$9 246
9,Cash Flow From Operating Activities,,$101 746,$91 495,$91 652,$65 124,$54 520,$47 971,$37 091
10,"Net Change In Property, Plant, And Equipment",,$-32 251,$-31 485,$-24 640,$-22 281,$-23 548,$-25 139,$-13 184
11,Net Change In Intangible Assets,,0,0,0,0,0,0,0
12,Net Acquisitions/Divestitures,,$-495,$-6 969,$-2 618,$-738,$-2 515,$-1 491,$-287
13,Net Change In Short-term Investments,,$8 814,$18 948,$-6 902,$-3 670,$-2 490,$-1 651,$-18 236
14,Net Change In Long-Term Investments,,$-2 080,$-2 381,$-1 904,$-6 152,$-1 527,$-321,$-1 212
15,Net Change In Investments - Total,,$6 734,$16 567,$-8 806,$-9 822,$-4 017,$-1 972,$-19 448
16,Investing Activities - Other,,$-1 051,$1 589,$541,$68,$589,$98,$1 518
17,Cash Flow From Investing Activities,,$-27 063,$-20 298,$-35 523,$-32 773,$-29 491,$-28 504,$-31 401
18,Net Long-Term Debt,,$-760,$-1 196,$-1 236,$9 661,$-268,$-61,$-86
19,Net Current Debt,,0,0,0,0,0,0,0
20,Debt Issuance/Retirement Net - Total,,$-760,$-1 196,$-1 236,$9 661,$-268,$-61,$-86
21,Net Common Equity Issued/Repurchased,,$-61 496,$-59 261,$-49 964,$-28 349,$-18 176,$-8 125,$-4 046
22,Net Total Equity Issued/Repurchased,,$-61 496,$-59 261,$-49 964,$-28 349,$-18 176,$-8 125,$-4 046
23,Total Common And Preferred Stock Dividends Paid,,0,0,0,0,0,0,0
24,Financial Activities - Other,,$-9 837,$-9 300,$-10 162,$-5 720,$-4 765,$-4 993,$-4 166
25,Cash Flow From Financial Activities,,$-72 093,$-69 757,$-61 362,$-24 408,$-23 209,$-13 179,$-8 298
26,Net Cash Flow,,$2 169,$934,$-5 520,$7 967,$1 797,$5 986,$-2 203
27,Stock-Based Compensation,,$22 460,$19 362,$15 376,$12 991,$10 794,$9 353,$7 679
28,Common Stock Dividends Paid,,0,0,0,0,0,0,0

In [37]:
df_upd = df_upd.rename(columns={"Annual Data | Millions of US $ except per share data": "row_name"})
df_upd.head()

,row_name,,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31
0,Net Income/Loss,,$73 795,$59 972,$76 033,$40 269,$34 343,$30 736,$12 662
1,Total Depreciation And Amortization - Cash Flow,,$11 946,$13 475,$10 273,$13 697,$11 781,$9 035,$6 915
2,Other Non-Cash Items,,$19 850,$20 283,$6 869,$9 331,$7 577,$3 292,$8 268
3,Total Non-Cash Items,,$31 796,$33 758,$17 142,$23 028,$19 358,$12 327,$15 183
4,Change In Accounts Receivable,,$-7 833,$-2 317,$-9 095,$-6 524,$-4 340,$-2 169,$-3 768

In [40]:
df_upd.columns

Index(['row_name', '', '2023-12-31', '2022-12-31', '2021-12-31', '2020-12-31',
       '2019-12-31', '2018-12-31', '2017-12-31'],
      dtype='object')

In [41]:
df_upd = df_upd.drop('', axis=1)
df_upd.columns

Index(['row_name', '2023-12-31', '2022-12-31', '2021-12-31', '2020-12-31',
       '2019-12-31', '2018-12-31', '2017-12-31'],
      dtype='object')

In [48]:
df_upd['ticker_name'] = 'GOOG'
df_upd.head()

,row_name,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31,2018-12-31,2017-12-31,ticker_name
0,Net Income/Loss,$73 795,$59 972,$76 033,$40 269,$34 343,$30 736,$12 662,GOOG
1,Total Depreciation And Amortization - Cash Flow,$11 946,$13 475,$10 273,$13 697,$11 781,$9 035,$6 915,GOOG
2,Other Non-Cash Items,$19 850,$20 283,$6 869,$9 331,$7 577,$3 292,$8 268,GOOG
3,Total Non-Cash Items,$31 796,$33 758,$17 142,$23 028,$19 358,$12 327,$15 183,GOOG
4,Change In Accounts Receivable,$-7 833,$-2 317,$-9 095,$-6 524,$-4 340,$-2 169,$-3 768,GOOG

In [49]:
from sqlalchemy import create_engine
import urllib

In [50]:
quoted = urllib.parse.quote_plus("Driver={SQL Server Native Client 11.0};Server=VIKTOR-PC-2001;Database=DividendPolicyResearch;Trusted_Connection=yes;")
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

In [52]:
df_upd.to_sql('tb_test_data_macrotrends', schema='dbo', con = engine, if_exists='append',index=False)